<h4 class="text-center">Login</h4>

<!-- formGroup: ele controla a validação de formulário -->
<!-- (submit): quando o formulário for disparado, vai chamar o login -->
<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

  <div class="form-group">
    <!-- formControlName: é uma diretiva disponibilizado pelo ReactForm; não faz data binding -->
    <input formControlName="userName" class="form-control" placeholder="user name" autofocus>
    <ap-vmessage
      *ngIf="loginForm.get('userName').errors?.required"
      text="User name is required!"
    ></ap-vmessage>
    <!-- se tiver errors, ele vai existir. Ele só vai avaliar o required se errrors existir -->
  </div>

  <div class="form-group">
    <input formControlName="password" type="password" class="form-control" placeholder="password">
    <!-- <small
      *ngIf="loginForm.get('password').errors?.required"
      class="text-danger d-block mt-2">
      Passoword is required!
    </small> -->
    <ap-vmessage
      *ngIf="loginForm.get('password').errors?.required"
      text="Password is required!">
    </ap-vmessage>
  </div>

  <!-- disabled: desabilita um campo do formulário -->
  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">login</button>
</form>

<p>Not user?<a>Register now</a></p>
